/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/09/2019, 03:54:04 PM
    Author     : mfigueroa
*/

body{
    background-color: #090809;
    
}

header{
    background-color: #fff;
    
}

h1{
    color: #e8e7e6;
}

label{
    color: #e8e7e6;
}

